asgiref>=3.8
certifi>=2025.1.31
charset-normalizer>=3.4
colorama>=0.4.6
coverage>=7.8
Django~=4.2.0
gunicorn>=23.0
idna>=3.15
# mysql==0.0.3 => do not use for docker
mysql-connector-python>=9.1
# mysqlclient==2.1.1 => do not use for docker
protobuf>=5.29.6
pypng>=0.20220715.0
python-dotenv>=1.2.2
requests>=2.32.4
setuptools>=83.0.0
sqlparse>=0.5.4
typing_extensions>=4.13
tzdata>=2025.2
urllib3>=2.7
whitenoise>=6.9
