{% extends "poll/layout.html" %}
{% block poll_body %}

<div id="POLL-polling" class="POLL-flex">
    <!-- Page 1 -->
    <div class="POLL-page" data-pagenr="1">
        <h1>{{ project.name }}</h1>
        {% if project.is_live%}
        {% if project.username_requirement or project.pw_requirement %}
        <form action="" class="POLL-form">
            <div class="BASE-hide" id="POLL-token" data-token="{{ csrf_token }}"></div>
            {% if project.username_requirement %}
            <div class="form-group POLL-form-part">
                <label for="username"></label>
                <input autofocus class="form-control" type="text" name="username" placeholder="Dein Name"
                    id="POLL-username" required>
            </div>
            {% endif %}
            {% if project.pw_requirement %}
            <div class="form-group POLL-form-part">
                <label for="projectpassword"></label>
                <input type="password" class="form-control" id="projectpassword" placeholder="Passwort"
                    name="projectpassword" required>
                <p class="POLL-wrong-pw BASE-hide" id="POLL-wrong-pw"><i>Falsches Passwort. Bitte nochmal versuchen.</i></p>
            </div>
            {% endif %}
            <div class="POLL-page-part POLL-form-part POLL-lets-begin">
                <p>Los geht’s!</p>
                {% if project.pw_requirement %}
                <input class="btn btn-light my-2 my-sm-0 BASE-btn BASE-btn-type1" type="submit" value="Start"
                    onclick="poll_password_check('{{project.pk}}')">
                {% else %}
                <input class="btn btn-light my-2 my-sm-0 BASE-btn BASE-btn-type1" type="submit" value="Start"
                    onclick="changePage('next')">
                {% endif %}
            </div>
        </form>
        {% else %}
        <br>
        <div class="POLL-page-part">
            <p>Los geht’s!</p>
            <br>
            <a href="" role="button" class="btn btn-light my-2 my-sm-0 BASE-btn BASE-btn-type1"
                onclick="changePage('next')">Start</a>
        </div>
        {% endif %}
        {% else %}
        <br>
        <div class="POLL-page-part">
            <p>Die Umfrage ist gerade geschlossen.</p>
            <p>Bitte kurz warten, bis sie geöffnet wird — dann Seite neu laden.</p>
        </div>
        {% endif %}
    </div>
    <!-- Page 2 and more-->
    {% for question in questions %}
    <div class="BASE-hide POLL-page" data-pagenr="{{ 1|add:question.position }}">
        <h2>{{ question.question }}</h2>
        <div class="POLL-page-part">
            {% if question.question_type == "Open-ended Question" %}
            <div class="form-group">
                <label for="OE_{{question.pk}}"></label>
                <br>
                <input autofocus class="form-control" type="text" name="OE_{{question.pk}}" placeholder="Deine Antwort"
                    data-answer="OE" data-question="{{question.pk}}">
            </div>
            {% elif question.question_type == "Question and Answer" %}
            <div class="form-group">
                <label for="QA_{{question.pk}}"></label>
                <br>
                <input autofocus class="form-control" type="text" name="QA_{{question.pk}}" placeholder="Deine Antwort"
                    data-answer="QA" data-question="{{question.pk}}">
            </div>
            {% elif question.question_type == "Multiple Choice" %}
            <div class="POLL-radio-container-parent">
                <div class="form-check POLL-radio-container">
                    <input class="form-check-input" type="radio" name="radio_{{question.pk}}" value="option1"
                        id="MC_{{question.pk}}_1" data-answer="MC" data-question="{{question.pk}}">
                    <label class="form-check-label" for="MC_{{question.pk}}_1">
                        {{question.option1}}
                    </label>
                </div>
                <div class="form-check POLL-radio-container">
                    <input class="form-check-input" type="radio" name="radio_{{question.pk}}" value="option2"
                        id="MC_{{question.pk}}_2" data-answer="MC" data-question="{{question.pk}}">
                    <label class="form-check-label" for="MC_{{question.pk}}_2">
                        {{question.option2}}
                    </label>
                </div>
                {% if question.nr_choices >= 3 %}
                <div class="form-check POLL-radio-container">
                    <input class="form-check-input" type="radio" name="radio_{{question.pk}}" value="option3"
                        id="MC_{{question.pk}}_3" data-answer="MC" data-question="{{question.pk}}">
                    <label class="form-check-label" for="MC_{{question.pk}}_3">
                        {{question.option3}}
                    </label>
                </div>
                {% endif %}
                {% if question.nr_choices >= 4 %}
                <div class="form-check POLL-radio-container">
                    <input class="form-check-input" type="radio" name="radio_{{question.pk}}" value="option4"
                        id="MC_{{question.pk}}_4" data-answer="MC" data-question="{{question.pk}}">
                    <label class="form-check-label" for="MC_{{question.pk}}_4">
                        {{question.option4}}
                    </label>
                </div>
                {% endif %}
                {% if question.nr_choices == 5 %}
                <div class="form-check POLL-radio-container">
                    <input class="form-check-input" type="radio" name="radio_{{question.pk}}" value="option5"
                        id="MC_{{question.pk}}_5" data-answer="MC" data-question="{{question.pk}}">
                    <label class="form-check-label" for="MC_{{question.pk}}_5">
                        {{question.option5}}
                    </label>
                </div>
                {% endif %}
            </div>
            {% else %}
            <p>Hoppla, da ist etwas schiefgelaufen.</p>
            {% endif %}
        </div>
        <br>
        <div class="POLL-page-part-flex">
            <a href="" role="button" class="btn btn-dark my-2 my-sm-0 BASE-btn BASE-btn-type4"
                onclick="changePage('previous')">Zurück</a>
            {% if question.position == num_questions %}
            <a href="" role="button" class="btn btn-dark my-2 my-sm-0 BASE-btn BASE-btn-type2" data-wasclicked="false"
                onclick="checkIfPollIsOpen('{{ project.pk }}', event)">Absenden</a>
            {% else %}
            <a href="" role="button" class="btn btn-dark my-2 my-sm-0 BASE-btn BASE-btn-type2"
                onclick="changePage('next')">Weiter</a>
            {% endif %}
        </div>

    </div>
    {% endfor %}
    <!-- Last page -->
    <div class="BASE-hide POLL-page POLL-last-page" data-pagenr="{{ num_questions|add:2 }}">
        <h2>Danke für deine Teilnahme!</h2>
        <p id="POLL-submission-status">Deine Antworten wurden übermittelt!</p>
        {% if project.show_answers %}
        <a href="" role="button" class="btn btn-dark my-2 my-sm-0 BASE-btn BASE-btn-type2 POLL-ans-btn"
            onclick="changePage('next')">Antworten ansehen!</a>
        {% else %}
        <a href="{% url 'website:index' %}" role="button"
            class="btn btn-dark my-2 my-sm-0 BASE-btn BASE-btn-type2 POLL-ans-btn">Zur Startseite</a>
        {% endif %}
    </div>
    <!-- Results page -->
    {% if project.show_answers %}
    <div class="BASE-hide POLL-page POLL-last-page" data-pagenr="{{ num_questions|add:3 }}">
        <h2>Richtige Antworten</h2>
        <div>
            {% for question in questions %}
            {% if question.question_type == "Question and Answer" %}
            <div class="POLL-RESULTS">
                <p class="POLL-RESULTS-question"><b>{{ question.question }}</b></p>
                <p>{{ question.answer }}</p>
            </div>
            {% elif question.question_type == "Multiple Choice" %}
            <div class="POLL-RESULTS">
                <p class="POLL-RESULTS-question"><b>{{ question.question }}</b></p>
                <p class="POLL-RESULTS-option">Option {{ question.correctOption }}</p>
                {% if question.correctOption == 1 %}
                <p>{{ question.option1 }}</p>
                {% elif question.correctOption == 2 %}
                <p>{{ question.option2 }}</p>
                {% elif question.correctOption == 3 %}
                <p>{{ question.option3 }}</p>
                {% elif question.correctOption == 4 %}
                <p>{{ question.option4 }}</p>
                {% elif question.correctOption == 5 %}
                <p>{{ question.option5 }}</p>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <a href="{% url 'website:index' %}" role="button"
            class="btn btn-dark my-2 my-sm-0 BASE-btn BASE-btn-type2 POLL-ans-btn">Zur Startseite</a>
    </div>
    {% endif %}
</div>

{% endblock %}